
*{
    padding: 0px;
    margin: 0px;
}
@font-face{
    /* font-family is what we are naming the font (like a variable name) */
    font-family: Anth;
    /* scr is the location of the font */
    src: url(fonts/Anthelion.ttf)
}
body {
    background-color: rgb(231, 236, 239);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px 30px;
}
h1  {
    color: rgb(39, 72, 139);
    font-size: 40pt;
    font-family: Anth
    
}
h2  {
    margin-top: 10px;
    color: rgb(96, 150, 186);
    font-family: Anth
}
p  {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
a:link, a:visited { 
    color:rgb(163, 206, 241);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: rgb(39, 76, 119);
}
ul, ol {
    margin-left: 30px;
    margin-bottom: 20px;
}
.caption {
    color: rgb(2, 154, 165);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.card {
    background-color: rgb(219, 233, 252);
    overflow: hidden;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
    border: 5px solid rgb(48, 112, 168);
}
.card h2 {
    padding: 0px 15px;
}
.card p {
    padding: 15px;
}
.card img {
    /* this code resixes the image, keeping it in prodortion
    and no wider than 100% of the div tag it is within */
    max-width: 100%;
    height: auto;
}
.home-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.intro {
    padding: 15px;
}
.main {
    padding: 15px;
}
/* the media query enables us to change the rules of some tags or 
classes based on the screen sizeIn this case, the rules inside the 
media query will come into effect when the screen size drops below 800px */
@media only screen and (max-width: 1000px) {
   .home-container {
    grid-template-columns: 1fr 1fr;
   } 
}
@media only screen and (max-width: 800px) {
    .home-container {
     grid-template-columns: 1fr;
    } 
    .intro {
        border: 1px white solid;
    }
 }
 .home-heading {
    text-align: center;
    background-color: rgb(130, 161, 159);
 }
    
}