@font-face{
    /* font-family is what we are naming the font (like a variable name) */
    font-family: Anth;
    /* scr is the location of the font */
    src: url(fonts/Anthelion.ttf)
}

/* Override a tag's presets by entering it's name */
body {
    background-color: rgb(146, 220, 229);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    /* directions are clockwise, strating at the top */
    padding: 20px 30px 20px 30px
}
p {
    color: rgba(248, 247, 249, 0.945);
    margin-bottom: 10px;
}
h1  {
    color: rgb(250, 233, 0);
    font-family: Anth
}
a:link, a:visited { 
    color:aqua
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: blanchedalmond;
}
ul, ol {
    margin-left: 30px;
    margin-bottom: 20px;
}
/* classes are used to style individuals tags they start with a period (.) */
.caption {
    color: rgb(2, 154, 165);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.main-content {
    background-color: rgb(48, 112, 184);
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
    /* border */
    border: 5px solid rgb(26, 88, 168);
}
.secondary-content {
    background-color: rgb(26, 88, 168);
    overflow: hidden;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
    border: 5px solid rgb(48, 112, 168);
}
.main-content img {
    /* this code resixes the image, keeping it in prodortion
    and no wider than 100% of the div tag it is within */
    max-width: 100%;
    height: auto;
}
.mq-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.intro {
    padding: 15px;
}
.main {
    padding: 15px;
}
/* the media query enables us to change the rules of some tags or 
classes based on the screen sizeIn this case, the rules inside the 
media query will come into effect when the screen size drops below 800px */
@media only screen and (max-width: 1000px) {
   .mq-container {
    grid-template-columns: 1fr 1fr;
   } 
}
@media only screen and (max-width: 800px) {
    .mq-container {
     grid-template-columns: 1fr;
    } 
    .intro {
        border: 1px white solid;
    }
 }
    
}